<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>成员信息</title>
</head>
<body>
<h2>输入信息</h2>
<form action="/addPerson" method="post">
    <section>
        <label for="name">姓名：</label>
        <input type="text" id="name" name="name">
    </section>
    <section>
        <label for="power">武力：</label>
        <input type="text" id="power" name="power">
    </section>
    <section>
        <label for="describe">特长：</label>
        <input type="text" id="describe" name="describe">
    </section>
    <input type="submit" value="点击添加">
</form>
</body>
</html>